---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import folders from '../folders.json';
---
<DefaultLayout>
  <h1 class="font-medium text-xl mb-10">CDN</h1>
  <ul>
    {folders.map((folder) => (
      <li>
          <a
          class="text-blue-600 hover:underline hover:text-blue-400"
          href={folder.dir}>{folder.name}
          </a>
      </li>
    ))}
  </ul>
</DefaultLayout>