---
import fs from "node:fs";
import Layout from "../layouts/Layout.astro";

const folders = fs.readdirSync("./public/assets/");
---

<Layout>
  <div class="flex flex-col gap-2">
    {
      folders.map((folder) => (
        <a
          class="text-black p-2 rounded border hover:text-white hover:bg-black border-black bg-white"
          href={folder}
        >
          / {folder}
        </a>
      ))
    }
  </div>
</Layout>
