---
import DefaultLayout from '../layouts/DefaultLayout.astro';
const dirs = ['pictures', 'maps', 'tokens', 'tiles']
---
<DefaultLayout>
  <h1 class="font-medium text-xl my-10">Static CDN</h1>
    {dirs.map((dir) => (
      <li>
          <a
          class="text-blue-600 hover:underline hover:text-blue-400"
          href={dir}>{dir}
          </a>
      </li>
    ))}
</DefaultLayout>