---
import fs from "node:fs";
import Layout from "../layouts/Layout.astro";

const folders = fs.readdirSync("./public/assets/");
---

<Layout>
  <h1 class="font-medium text-xl mb-6">STATIC CDN</h1>

  <div class="flex flex-col gap-2">
    {
      folders.map((folder) => (
        <a class="text-black p-2 rounded border hover:text-white hover:bg-black border-black" href={folder}>
          / {folder}
        </a>
      ))
    }
  </div>
</Layout>
