---
import fs from "node:fs";
import Asset from "../components/Asset.svelte";

const { dir } = Astro.props;
const assets = fs.readdirSync("./public/assets/" + dir + "/");
---

<h1 class="font-medium text-xl mb-10">
  <a class="text-black hover:underline" href="/">assets</a> / {dir}
</h1>

<div class="flex flex-col gap-2">
  <Asset {dir} {assets} />
</div>
