<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Foundry CDN</title>
  </head>
  <body>
    <article class="p-4 max-w-4xl mx-auto">
      <slot />
    </article>
  </body>
</html>