<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Static CDN</title>
  </head>
  <body>
    <div class="p-12 max-w-4xl mx-auto">
      <slot />
    </div>
  </body>
</html>